$brandPrimary: #ff4203;
$brandSecondary: #004fc9;
$brandSecondaryShade: #00378d;
$brandSecondaryTint: #b3caef;
$grey-800: #4d4d4d;
$grey-500: #999999;
$grey-200: #e6e6e6;
$grey-100: #f6f6f6;
$black: #000;
$white: #fff;
$negative: #da1e28;
$positive: #24a148;
$informative: #004fc9;
$notice: #ff9900;
$backgroundOrange: #fff8f2;
$backgroundBlue: #f2f6fc;
$backgroundPurple: #fff0ff;
$backgroundGreen: #f3fbf6;
$backgroundYellow: #fff9e6;
