.link:link {
	text-decoration: none;
	padding-block: 4px;
	&:hover {
		text-decoration: underline;
	}
	&:disabled {
		color: $grey-500;
	}
}

.link__brand {
	color: $brandSecondary;
	&:focus {
		outline: 2px solid $brandSecondary;
		border-radius: 1px;
	}
}

.link__white {
	color: $white;
	&:focus {
		outline: 2px solid $white;
		border-radius: 1px;
	}
}

.link__black {
	color: $black;
	&:focus {
		outline: 2px solid $black;
		border-radius: 1px;
	}
}
