$layoutDesktop: 128px;
$layoutTablet: 80px;
$layoutMobile: 64px;

$spacing-tiny: 8px;
$spacing-smaller: 12px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-larger: 40px;
$spacing-big: 48px;
$spacing-bigger: 64px;
$spacing-huge: 96px;
