* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Bold.ttf") format("truetype");
  font-style: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

body,
p,
button {
  font-family: "Source Sans Pro";
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: bold;
}

/* font and heading sizes */
h1 {
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 40px;
  }
}

h4 {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 32px;
  }
}

h5 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  h5 {
    font-size: 24px;
  }
}

h6 {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  h6 {
    font-size: 20px;
  }
}

.xs {
  font-size: 12px;
}

.sm {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .sm {
    font-size: 16px;
  }
}

.md {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .md {
    font-size: 20px;
  }
}

.lg {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .lg {
    font-size: 24px;
  }
}

.link:link {
  text-decoration: none;
  padding-block: 4px;
}

.link:link:hover {
  text-decoration: underline;
}

.link:link:disabled {
  color: #999999;
}

.link__brand {
  color: #004fc9;
}

.link__brand:focus {
  outline: 2px solid #004fc9;
  border-radius: 1px;
}

.link__white {
  color: #fff;
}

.link__white:focus {
  outline: 2px solid #fff;
  border-radius: 1px;
}

.link__black {
  color: #000;
}

.link__black:focus {
  outline: 2px solid #000;
  border-radius: 1px;
}

.button {
  padding-inline: 16px;
  padding-block: 12px;
  border-radius: 8px;
  border: 2px solid #004fc9;
}

.button__brand {
  background-color: #004fc9;
  color: #fff;
}

.button__brand:enabled:hover {
  background-color: #fff;
  color: #004fc9;
  border-color: #fff;
  outline: 1px solid #004fc9;
}

.button__brand:enabled:focus {
  outline: 2px solid #004fc9;
  border: 2px solid #fff;
}

.button__brand:disabled {
  background-color: #e6e6e6;
  color: #4d4d4d;
  border-color: #e6e6e6;
}

.button__form {
  border-radius: 0px 8px 8px 0px;
}
/*# sourceMappingURL=styles.css.map */