.page-content {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	& article {
		margin-inline: 100px;
	}
}

.page-content__reverse {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	.page-content__text {
		grid-row: 1;
	}
	& article {
		margin-inline-end: 200px;
	}
}

.page-content__image {
	width: 100%;
}

.page-content__text {
	& > * {
		margin-block-end: $spacing-medium;
	}
}

.page-content__icon {
	display: flex;
}

.page-content__icon--abbr {
	height: 36px;
	background-color: $brandPrimary;
	color: $white;
	border-radius: 3px;
	padding-block-start: 8px;
	padding-inline-start: 6px;
	padding-inline-end: 2px;
	margin-inline-end: 4px;
}

.page-content__icon--text {
	position: relative;
	top: -4px;
}
