.app-header {
	background-color: $black;
	padding-inline: $spacing-large;
	padding-block: $spacing-small;
	display: flex;
	justify-content: space-between;
}

.app-header__list {
	display: flex;
	justify-content: flex-end;
	& > * {
		margin-inline-start: $spacing-small;
	}
}
