.carousel {
	inline-size: 90vw; //fixed width, so we are sure new items will be appended outside of the carousel visible area
	overflow: hidden;
	display: flex;
	margin: auto;
}

.carousel__container {
	display: flex;
	white-space: wrap;
	transition: transform 0.3s;
}

.carousel__card {
	display: inline-flex;
}

.carousel__navigation {
	// bottom: 0;
	position: absolute;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	inline-size: 90vw;
	height: 40%;
}

.carousel__navigation--button {
	padding-inline: $spacing-medium;
	padding-block: $spacing-small;
	border-radius: 100%;
	font-weight: bold;
	font-family: 'Raleway';
}
